**.pyc
**.idea/**
__pycache__/
uniparser-morph/errors.log
errors.log
analyzed.txt
unanalyzed.txt
import_test.py
lexemes.txt
paradigms.txt
bad_analyses.txt
derivations.txt
lex_rules.txt
add_lex/
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.python-version
.env
venv/
ENV/